<div id="titulo">
    <h1>Lista de Productos</h1>
</div>

<div>
    <div id="viewProducts">

    </div>
    <div>
        <form id="form1">
            <label for="addproduct">Ingrese un producto</label>
            <textarea type="text" id="addproduct" name="addproduct"> </textarea>
            <input type="submit" value="Agregar" class="btn-product">
        </form>
    </div>
    <div>
        <form id="form2" class="form">
            <label for="removeproduct">Ingrese ID del producto</label>
            <input type="text" id="removeproduct" name="removeproduct">
            <input type="submit" value="Eliminar" class="btn-product">
        </form>
    </div>

<div class="viewProducts">
    {{#each products}}
        <ul class="product">
            <li><span>Title:</span>  {{this.title}}</li>
            <li><span>Description:</span> {{this.description}}</li>
            <li><span>Code:</span> {{this.code}}</li>
            <li><span>Price:</span> ${{this.price}}</li>
            <li><span>Status:</span> {{this.status}}</li>
            <li><span>Stock:</span> {{this.stock}}</li>
            <li><span>Category:</span> {{this.category}}</li>
            <li><span>id:</span> {{this.id}}</li>
        </ul>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>